<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <title>关关难过关关过，前路漫漫亦灿灿</title>-->
</head>
<body>
<!--    <dic>-->
<!--        关关难过关关过，前路漫漫亦灿灿-->
<!--&lt;!&ndash;        new lift start!&ndash;&gt;-->
<!--    </dic>-->
<!--    <div style="width: 300px;height: 200px;background: antiquewhite">-->

<!--    </div>-->
<!--    <el-input-->
<!--            placeholder="请输入内容"-->
<!--            v-model="input"-->
<!--            :disabled="true">-->
<!--    </el-input>-->

<!--    <script src="//unpkg.com/vue/dist/vue.js"></script>-->
<!--    <script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>-->
<!--    <div id="app">-->
<!--        <el-input v-model="input" placeholder="请输入内容"></el-input>-->
<!--    </div>-->
<!--    <script>-->
<!--        var Main = {-->
<!--            data() {-->
<!--                return {-->
<!--                    input: ''-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--        var Ctor = Vue.extend(Main)-->
<!--        new Ctor().$mount('#app')-->
<!--    </script>-->

</body>
</html>